KODAMA_RPC_URL=https://api.devnet.solana.com
KODAMA_PROGRAM_ID=AtWCymSaWdfTboGGAek47ujb6uEtKy3A4u48WwJCEqgo
KODAMA_KEYPAIR_PATH=~/.config/solana/id.json
KODAMA_NETWORK=devnet
KODAMA_LOG_LEVEL=info
KODAMA_API_PORT=8080
KODAMA_API_RATE_LIMIT=60
